

@media (max-width:1250px) {
    .buy-btn,
    .add-cart-btn{
        padding: .5rem 3rem;
    }
    
}

@media (max-width:1096px) {
    .nav-extra ul li {
       padding: 1rem;
    }

    .buy-btn,
    .add-cart-btn{
        padding: .5rem 3rem;
        font-size: 1.4rem;
    }

    .contact-form{
        width: 50%;
    }
}

@media (max-width: 1024px){

    /* product  card */
    .food-item{  /*-_-*/  
        width: 20rem;
    }

    .item-img-div{ /*-_-*/
        height: 14rem; 
    }

    .item-name{ 
        font-size: 1.5rem;
    }

    .item-catagory{ /*-_-*/
        font-size: 1.3rem;
    }
    
    .item-rate{ /*-_-*/
        font-size: 1.1rem;
    }

    .item-rate .rating i{ /*-_-*/
        font-size: 1.1rem;
    }
    /* product  card Ends */  

}



@media (max-width: 991px) {

    /* ================================= */
    /*      RESPONSIVE NAV MENU */
    /* ================================= */
    .nav-menu-col{
        display: block;
    }

    .nav-menu{
        background-color: rgba(0, 0, 0, 0.6);
        -webkit-backdrop-filter: blur(10px);
                backdrop-filter: blur(10px);
        position: fixed;
        top: 0;
        left: 0;
        width: 0vw;
        height: 100vh;
        z-index: 100;
        overflow-x: hidden;
        transition: all .5s ease-in;
    }

    .nav-exit-btn{
        display: block;
        position: absolute;
        top: 10%;
        right: 10%;
        color: white;
        border: none;
        width: 3rem;
        height: 3rem;
        background-color: transparent;
        font-size: 2rem;
        border: 1px solid white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem;
    }

    .nav-exit-btn::after{
        content: "";
        position: absolute;
        background-color: transparent;
        height: 100%;
        width: 100%;
        border: 1px solid white;
        border-radius: 50%;
        -webkit-animation: name duration timing-function delay iteration-count direction fill-mode;
                animation: name duration timing-function delay iteration-count direction fill-mode;
        -webkit-animation: borderWave 1s infinite linear;
                animation: borderWave 1s infinite linear;
    }

    @-webkit-keyframes borderWave {
        from{
            transform: scale(1);
            opacity: 1;
        }
        to{
            transform: scale(1.5);
            opacity: 0;
        }
    }

    @keyframes borderWave {
        from{
            transform: scale(1);
            opacity: 1;
        }
        to{
            transform: scale(1.5);
            opacity: 0;
        }
    }


    .hamburger{
        font-size: 2rem;
        margin-bottom: 2rem;
        display: block;
    }

  

    .nav-menu ul{
        flex-direction: column;
        align-items: center;
        height: 100%;
    }

    .nav-menu ul li a{
        text-transform: uppercase;
    }

    /* dropdown */
    .dropdown-btn{
        position: initial;
    }
    
    .dropdown{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-bottom: 0;
    }

    .dropdown-items{
        z-index: auto;
        position: initial;
        min-width: auto;
        left: 0;
        background-color: transparent;
        overflow: visible;
        transform:translate(-0%, -0%) scale(0);    
        transition: transform .2s ;
        display: none;
    }

    .dropdown-items ul{
       text-align: center;
       padding: 0;
    }

    .dropdown-items ul li{
       text-align: center;
       padding-top: 2rem ;
       padding-bottom: 0rem ;
    }
    
    .dropdown:hover .dropdown-items{    
        transform: translate(-0%, -0%) scale(1);
        -webkit-animation: none;
                animation: none;
        display: block;
    }
    
    /* dropdown ENds */

    .nav-menu ul li a{
        color: white;
        position: relative;
    }

    .nav-menu ul li a::after{
        content: attr(data-after);
        color: rgb(143, 143, 143);
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%) scale(0);
        font-size: 8rem;
        letter-spacing: 4rem;
        transition: .5s letter-spacing ease-in-out;
        font-weight: 100;
    }

    .nav-menu ul li a:hover::after{
        transform: translate(-50%,-50%) scale(1);
        z-index: -1;
        letter-spacing: initial;
    }

    /* ================================= */
    /*      RESPONSIVE NAV MENU FINISH*/
    /* ================================= */


    #logo{
        padding: 1rem;
    }

  
    .land-bg{
        width: 100%;
        height: 100%;
    }

    /* ad */
    .ad{
        margin: .2rem  0;
        padding: 0 1rem;
    }

    .product-page-food-img-div{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}


/* ================================ */
            /* TAB SIZE */
/* ================================ */
@media (max-width: 768px) {

    .nav-top a{
        font-size: 80% ;
    }

    *.nav-extra{
        font-size: 80%;
    }

    .search-group{        
        padding: 0 1rem;
    }

    /* land page responsive */
    .land-item{
        height: 60vh;
    }

    .land-welcome{      
        word-spacing: 0;
        font-size: 1.3rem;        
    }

    .land-info{
        font-size: 1.2rem;
    }

    .land-title h1{
        font-size: 3.5rem;
    }


    #recommend-item-section{
        margin-top: 5rem;
    }


    /* product  card */
    .food-item{  /*-_-*/  
        width: 18rem;
    }

    .item-img-div{ /*-_-*/
        height: 13rem; 
    }

    .item-name{ 
        font-size: 1.4rem;
    }

    .item-catagory{ /*-_-*/
        font-size: 1.3rem;
    }
    
    .item-rate{ /*-_-*/
        font-size: 1.1rem;
    }

    .item-rate .rating i{ /*-_-*/
        font-size: 1.1rem;
    }
    /* product  card Ends */

    .see-more-btn{
        font-size: 1.3rem;
        padding:  .5rem 2rem;
        border-radius: .5rem;
    }
    
    .ad{
        margin: 2rem 0;
    }

    .know-right{
        display: none;
    }

    .know-info h1{
        font-size: 3rem;
    }

    .know-phone i{
        color: #D51C22;
        padding: 1rem;
        font-size: 2rem;
    }
    
    .know-phone{
        padding: 1rem 4rem;
        font-size: 1.5rem;
        color: black;
        font-weight: bold;
    }

    
    #product-page .product-name{
        font-size: 2rem;
    }

    .banner-text{
        font-size: 4rem;
    }

    .contact-form{
        width: 65%;
    }

    
    #register{
        width: 80%;
    }


}



/* ================================ */
            /* MAX 600 */
/* ================================ */
@media (max-width: 600px) {
 
    .land-welcome{      
        word-spacing: 0;
        font-size: 1.2rem;        
    }


    /* product  card */
    .item-container{
        display: flex;
        flex-wrap: wrap ;
        justify-content: space-around;
    }
    
    .food-item{  /*-_-*/  
        width: 17rem;
    }

    .item-img-div{ /*-_-*/
        height: 12rem; 
    }

    .item-name{ 
        font-size: 1.2rem;
    }

    .item-catagory{ /*-_-*/
        font-size: 1.1rem;
    }
    
    .food-item .price{ /*-_-*/
        margin: 0 ;
        font-size: 1.3rem;
    }

    .item-rate{ /*-_-*/
        font-size: 1.1rem;
    }

    .item-rate .rating i{ /*-_-*/
        font-size: 1rem;
    }
    /* product  card Ends */


    #register{
        width: 80%;
    }



}

/* ================================ */
            /* MAX 576 */
/* ================================ */
@media (max-width: 576px) {
    .land-title h1{
        font-size: 3rem;
    }

    .navbar .row{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .contact-form{
        width: 80%;
    }
    
    #register{
        width: 100%;
    }
}

/* ================================ */
            /* MAX 550 */
/* ================================ */
@media (max-width: 550px) {

    .land-welcome{      
        word-spacing: 0;
        font-size: 1.1rem;        
    }

    .land-title h1{
        font-size: 3.5rem;
    }

    .land-info{
        font-size: 1.1rem;
    }
 
    .single-ad .ad-img{
        height: 20vh;
    }

}


/* ================================ */
            /* MAX 500 */
/* ================================ */
@media (max-width: 500px) {

    .search-input{
        width: 10rem;
    }

    /* LAND PAGE */
    .land-text{
        width: 80%;
    }

    #land-page .owl-nav .owl-next,
    #land-page .owl-nav .owl-prev{
        top: 100%;
        background-color: black !important;    
        color: white !important;
        font-size: 1.5rem;
        width: 3rem;
        height: 3rem;
        left: 55%;
        transform: translateX(-50%);
    }

    #land-page .owl-nav .owl-prev{
        left: 45%;
    }
    #land-page .owl-nav .owl-next{
        right: 40%;
    }

    .land-welcome{      
        word-spacing: 0;
        font-size: 1.2rem;        
    }

    .land-title h1{
        font-size: 3.5rem;
    }

    .land-info{
        font-size: 1.2rem;
    }


    /* know us section */
    .know-info h1{
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    .know-info p{
        font-size: 1.4rem;
    }

    .know-phone i{
        color: #D51C22;
        padding: 1rem;
        font-size: 2rem;
    }
    
    .know-phone{
        padding: 1rem 2rem;
        font-size: 1.4rem;
        color: black;
        font-weight: bold;
    }

    .know-bottom .def-btn{
        padding: .8rem 3rem;
        font-size: 1.4rem;
    }
    /* know us section Ends */


    #news-letter .nl-text i{
        font-size: 3.5rem;
        padding-right: 3rem;
        color: #D51C22;
    }

    #news-letter .nl-text h1{
        font-size: 2rem;
        text-align: left;
    }

    #news-letter .nl-text p{
        font-size: 1.4rem;
        text-align: left;
    }


}


/* ================================ */
            /* LARGE MOBILE */
/* ================================ */
@media (max-width: 425px) {

    .nav-top a{
        font-size: 60%;
        padding: .5rem;
    }

    .logo-div{
        margin-bottom: 0!important;
    }

    #logo{
        height: 8rem;
        z-index: 5;
    }

    .nav-extra-col{
        padding: 0;
    }

    .nav-extra ul li{ 
        padding: 1rem;
    }

    .search-input{
        width: auto;
        height: 2rem;
        font-size: 1.3rem;
        padding: .5rem;
    }

    .nav-extra a,
    .wishlist-number,
    .cart-number,
    button{
        font-size: 90%;
        padding: 0;
    }

    .nav-extra i{
        font-size: 1.6rem;
    }

    .nav-top a{
        font-size: 1rem;
        padding: .5rem;
    }


    /* LAND PAGE */
    .land-welcome{      
        word-spacing: 0;
        font-size: 1.1rem;        
    }

    .land-title h1{
        font-size: 2rem;
    }

    .land-info{
        font-size: 1.1rem;
    }

    .land-item{
        height: 40vh;
    }

    .land-btn{
        padding: .6rem 2.0rem;
        font-size: 1.2rem;
    }


    /* product  card */
    .title{
        padding-left: 1rem;
    }

    .food-item{  /*-_-*/  
        width: 16rem;
    }

    .item-img-div{ /*-_-*/
        height: 11rem; 
    }

    .item-name{ 
        font-size: 1.2rem;
    }

    .item-catagory{ /*-_-*/
        font-size: 1.1rem;
    }
    
    .food-item .price{ /*-_-*/
        margin: 0 ;
        font-size: 1.3rem;
    }

    .item-rate{ /*-_-*/
        font-size: 1rem;
    }

    .item-rate .rating i{ /*-_-*/
        font-size: 1rem;
    }
    /* product  card Ends */


    .product-top,
    .product-bottom{
        margin: 1rem 1rem ;
    }

    
    
    #product-page .product-name{
        font-size: 1.8rem;
    }
    
    .banner-text{
        font-size: 3.5rem;
    }

    .contact-form{
        width: 90%;
    }


    #register h1{
        font-size: 2rem;
    }

}


@media (max-width: 375px) {

    .container-fluid{
        padding: 0;
        margin: 0;
    }

    .search-input{
        width: 10rem;
        height: 2rem;
    }

    .nav-top a{
        font-size: 50%;
        padding: .5rem;
    }

    .nav-extra i{
        font-size: 1.4rem;
    }


    #land-page .owl-nav .owl-prev{
        left: 45%;
    }
    #land-page .owl-nav .owl-next{
        left: 55%;
    }


    /* product  card */
    
    .food-item{  /*-_-*/  
        width: 15rem;
    }    
    /* product  card Ends */

    /* know us section */
    .know-info h1{
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    .know-info p{
        font-size: 1.3rem;
    }

    .know-phone i{
        color: #D51C22;
        padding: 1rem;
        font-size: 2rem;
    }
    
    .know-phone{
        padding: 1rem 1rem;
        font-size: 1.2rem;
        color: black;
        font-weight: bold;
    }

    .know-bottom .def-btn{
        padding: .8rem 1.5rem;
        font-size: 1.2rem;
    }
    /* know us section Ends */

 
    .title{
        font-size: 2rem;
    }


    footer .row{
        margin: 0;
    }

    
    .banner-text{
        font-size: 3rem;
    }


}

