/* ================================== */
        /* BASIC SETUP */
/* ================================== */
/* GOOGLE FONTS */
/* font-family: 'Alfa Slab One', cursive;
font-family: 'Lato', sans-serif; 
font-family: 'Rubik', sans-serif;*/

/* [class*="col-"]{
    border: 1px solid royalblue;
} */


*{
    margin: 0;   
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html{
    font-size: 62.5%;
}

.row{
    margin: 0;
}

body{
    font-size: 1.6rem;
    font-family: 'Lato', sans-serif;
}

/* ==========LOADER============= */
.loader-div{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: white;
    z-index: 100;
    display: none;

    /* LOADER DEACTIVATED */
}

.loader{
    height: 5rem;
    width: 5rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    border: 1px solid transparent;
}

.loader::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid black;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    animation: loaderAft 1s ease-out infinite alternate-reverse;
}

.loader::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid black;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    animation: loaderBef 1s 1s ease-out infinite alternate-reverse;
    transform: scale(0);
}

@-webkit-keyframes loaderAft {
    from{
        transform: scale(0);
    }
    to{
        transform: scale(2);
        opacity: 0;
        border-color: #D51C22;
    }
}

@keyframes loaderAft {
    from{
        transform: scale(0);
    }
    to{
        transform: scale(2);
        opacity: 0;
        border-color: #D51C22;
    }
}

@-webkit-keyframes loaderBef {
    from{
        transform: scale(0);
    }
    to{
        transform: scale(2);
        opacity: 0;
        border-color: royalblue;
    }
}

@keyframes loaderBef {
    from{
        transform: scale(0);
    }
    to{
        transform: scale(2);
        opacity: 0;
        border-color: royalblue;
    }
}
/* ==========LOADER ENDS============= */



/* ========== Go Top ============= */
.gotop{
    background-color: transparent;
    border: 1px solid #D51C22;
    width: 5rem;
    height: 5rem;
    position: fixed;
    bottom: 50%;
    z-index: 50;
    right: 2%;
    color: white;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: all .5s;
    border-radius: 50%;
    visibility: hidden;
    opacity: 0;
}

.gotop:focus{
    outline: none;
}

.gotop::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 0%;
    height: 0%;
    background-color: transparent;
    border: 30px solid #D51C22;
    transition: .5s;
    border-radius: 50%;
}

.gotop:hover::after{
    width: 300%;
    height: 300%;
}

.gotop i{
    z-index: 1;
}

.gotop:hover{
    color: #D51C22;
    font-weight: bold;
    text-decoration: none;
}
/* ========== Go Top  Ends ============= */

/* REusable components */
h1,h2,h3,h4,h5,h6{
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
}

small{
    font-size: 1.2rem;
    margin-top: .5rem;    
}

ul{
    display: flex;
    align-items: center;
}

ul li{
    list-style-type: none;
    padding: 2rem;
}

ul li a{
    text-decoration: none;
    color: black;
}

@media (min-width:1080px) {
    .container-fluid{
        padding: 0 8rem;
    }
    
}

input{
    outline: none;
    padding: .5rem 1rem;
}

.bg-red{
    background-color: #D51C22;
}

.text-red{
    color: #D51C22;
}

.d-block{
    display: block;
}

.title{
    font-family: 'Rubik', sans-serif;
    font-weight: bolder;
    font-size: 2.5rem;
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    text-transform: capitalize;
}

.t-hl{
    position: relative;
    margin-left: 1rem;
}

.t-hl::after{
    content: '';
    position: absolute;
    height: 5%;
    width: 100%;
    background-color:#D51C22;
    bottom: -.5rem;
    left: 0;
}


/* carousel fixing Starts */
.owl-theme .owl-dots .owl-dot span{
    background: #D51C22 ;
    opacity: .2;
    height: .8rem;
    width: .8rem;
}

.owl-theme .owl-dots .owl-dot {
    outline: none;
}

.owl-theme .owl-dots .owl-dot.active span{
    background: #D51C22 ;
    opacity: 1;
}

.owl-theme .owl-dots .owl-dot:hover span{
    background: #D51C22 ;
    opacity: 1;
}
/* carousel fixing Ends */

.font-12{
    font-size: 1.2rem !important;
}

.font-14{
    font-size: 1.2rem !important;
}

.font-16{
    font-size: 1.6rem !important;
}

.font-18{
    font-size: 1.8rem !important;
}

.p-2rem{
    padding: 2rem;
}

.def-btn{
    color: white;
    background-color:  #D51C22;
    padding: 1rem 3rem;
    border: 1px solid #D51C22;
    border-radius: .5rem;
    transition: background-color .3s .1s;
}

.def-btn:hover{
    color: #D51C22;
    text-decoration: none;
    background-color:  white;
    padding: 1rem 3rem;
    border: 1px solid #D51C22;
}

/* carousel button */
.owl-nav .owl-next,
.owl-nav .owl-prev{
    position: absolute;
    top: 50%;
    transform: translate(-50%);  
    width: 4rem;
    height: 4rem;
    background-color: white !important;
    outline: none;
    color: black !important;   
    font-size: 2rem; 
    z-index: 10;
    transition: .3s;
}

.owl-nav .owl-next:hover,
.owl-nav .owl-prev:hover{
    background-color: black !important;    
    color: white !important;
}

.owl-nav .owl-prev{
    left: 7%;
}
.owl-nav .owl-next{
    right: 7%;
}
/* Carousel button */

 .rating{
    color: #feb42b;
    border-color: #feb42b;
    margin-bottom: 1rem ;
    font-size: 1.5rem;
}

/* price */
.price{
    display: flex;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 1rem auto;
    
}

.del-price{
    color: #6c757d;
    text-decoration: line-through;
    font-size: 1.4rem;
}

.c-price{
    margin-left: 0.2rem;
    color: #D51C22;
    font-weight: bold;
    
}


/* ad section */
.ad{
    margin: 3rem  0;
    padding: 0 0;
    background-color: white;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
}

.ad::after,
.ad::before{
    content: '';    
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    opacity: 0.1;
    background-color: white;
    border-radius: 0rem;
    transform: scale(1);
}

.ad::after{
    top: -100%;
    left: -120%;
    transition: .5s;
}

.ad::before{
    top: 100%;
    left: 120%;
    transition: .5s;
}

.ad:hover::after,
.ad:hover::before{
    top: 0;
    left: 0;
}

.ad-img{
    width: 100%;
}
/* ad ends */


/* see more btn  starts*/
.see-more-btn{
    display: flex;
    align-items: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 1rem 0 auto;
    border: 1px solid #d51c2223;
    color: #D51C22;
    padding:  .5rem 2rem;
    font-weight: bold;
    position: relative;
    transition: .3s;
    overflow: hidden;
    border-radius: .5rem;
    z-index: 10;
}

.see-more-btn i{
    margin-left: .5rem;
}

.see-more-btn:hover{
    border: 1px solid #d51c2223;
    color: white;
    text-decoration: none;
}

.see-more-btn::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #D51C22;
    border: 1px solid #d51c2223;
    top: 0;
    left: -100%;
    z-index: -1;
    transition: .4s;
}

.see-more-btn:hover::before{
    left: 0%;
}

/* see more Ends */





/* ================================== */
        /*  PRODUCT ITEM CARD */
/* ================================== */
.item-container{
    display: flex;
    flex-wrap: wrap ;
    justify-content: space-between;
}

.food-item{  /*-_-*/  
    width: 22rem;
    display: inline-block;
    margin: 0rem .5rem;
    margin-bottom: 3rem;
    box-shadow: 0px .5rem 1rem rgba(0, 0, 0, 0.2);
    transition: .5s;
    border-end-end-radius: 1rem;
    border-start-start-radius: 1rem;
    overflow: hidden;
    position: relative;
    margin-right: 2rem;
}

.discount{
    position: absolute;
    background-color: #D51C22;
    top: .5rem;
    right:.5rem;
    color: white;
    padding: .5rem;
    font-weight: bold;
    border-radius: .5rem;
    font-size: 80%;
}

.food-item:hover .item-img{
    transform: scale(1.05);
    transform-origin: bottom;
    box-shadow: 0px .5rem 1rem rgba(0, 0, 0, 1);
}

.food-item:hover {
    box-shadow: 0px .5rem 1rem rgba(213, 28, 34, 0.2);
}

.item-img-div{ /*-_-*/
    width: 100%;
    height: 16rem; 
    overflow: hidden;
    position: relative;
}

.owl-carousel .item-img-div{
    height: 100%;
}

.item-img{
    width: 100%;
    height: 100%;
    transition: .5s;
    object-fit: cover;
}

.item-detail-link{
    position: absolute;
    left: 0;
    top: 0; 
    color: white;   
    background-color: rgb(0, 0, 0,.5);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    transition: .4s ease-out;
    opacity: 0;
    border-radius: 1rem;
    transform: scale(4);
}

.item-card-footer,
.item-info{
    padding: 0 1rem;
}

.item-info{
    margin-top: .5rem;
}

.item-detail-link:hover{
    color: white;
    text-decoration: none;
}

.food-item:hover .item-detail-link{
    display: flex;
    opacity: 1; 
    transform: scale(1.5) rotate(360deg); 
}

.item-name{ /*-_-*/
    font-size: 1.8rem;
    font-weight: bolder;
    text-transform: capitalize;
    width: 100%;
}

.owl-carousel .item-name{ 
    font-size: 80%;
}

.item-catagory{ /*-_-*/
    color: #D51C22;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 1.6rem;
    text-transform: capitalize;
}

.owl-carousel .item-catagory{
    font-size: 60%;
}

.food-item .price{ /*-_-*/
    margin: 0 ;
    font-size: 1.6rem;
}

.owl-carousel .food-item .price{
    margin: 0 ;
    font-size: 80%;
}

.item-pri-cat{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-rate{ /*-_-*/
    display: flex;
    font-size: 1.3rem;
    margin-top: 0rem;
    justify-content: space-between;
    align-items: center;
}

.owl-carousel .item-rate{ 
    font-size: 60%;
}

.item-rate .rating i{ /*-_-*/
    font-size: 1.3rem;
}

.owl-carousel .item-rate .rating i{
    font-size: 60%;
}

.item-review{
    color: #6c757d;
}

.del-price{
    font-size:90% ;
}






/* ================================== */
            /*  NAV BAR  */
/* ================================== */
.nav-fix-lg{ 
    position: fixed !important;
    top: 0;
    left: 0;
    z-index: 60;
    box-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.2);
}

.hamburger{
    display: none;
}

.nav-exit-btn{
    display: none;
}

/* NAV TOP  */
nav{
    z-index: 50; 
    position: initial;
    transition: .5s;
}

.d-n{
    display: none !important;
}

.navbar{
    background-color: white;    
    width: 100vw;
    z-index: 50;
}

.navbar .row{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-top{
    background-color: white;
    height: 4rem;
    border-bottom:solid rgba(65, 64, 64, 0.199) thin;
}

.nav-top a{
    font-size: 1.4rem;    
}

.nav-top-right{
    margin-left: auto;
    margin-right: 0;    
}

.nav-top-right a{
    color: rgba(0, 0, 0, 0.856);
    font-size: 2rem;
    transition: .3s;
}

.nav-top-right a:hover{
    color:  #D51C22;
}
/* NAV TOP ENDS */

#logo{
    padding-left: 1rem;
    height: 9rem;
    
}

/* NAV MENU STARTS */

.nav-menu ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-menu ul li{
    list-style-type: none;
    padding: 2rem;   
}

.nav-menu ul li a{
    text-decoration: none;
    color: black;
    font-weight: 700;
    transition: .3s;
}

.nav-menu ul li a:hover{
    color: #D51C22;
}

/* dropdown feature Starts */
.dropdown i{
    transition: .3s;
    font-weight: 700;
}

.dropdown:hover i{
    transform: rotate(180deg);
    color: #D51C22;
}

.dropdown-btn{
    position: relative;
}

.dropdown-items{
    z-index: 50;
    position: absolute;
    min-width: 150%;
    left: 0;
    background-color: #fff;
    overflow: hidden;
    transform:translate(-0%, -50%) scale(0);    
    transition: transform .2s ;
}

.dropdown:hover .dropdown-items{    
    transform: translate(-0%, -0%) scale(1);
    -webkit-animation: hoverOpacity 1.2s;
            animation: hoverOpacity 1.2s;
}

@-webkit-keyframes hoverOpacity {
    from{
        opacity: .4;
    }
    to{
        opacity: 1;
    }
}

@keyframes hoverOpacity {
    from{
        opacity: .4;
    }
    to{
        opacity: 1;
    }
}

.dropdown-items ul{
    flex-direction: column;
    align-items: flex-start; 
    padding: 1rem ;   
}

.dropdown-items ul li{    
    width: 100%;
    padding: 1.5rem 0;
    position: relative;    
}

.dropdown-items ul li::after{    
    content: "";
    position: absolute;
    left: 0%;
    bottom: 0;
    height: .1rem;
    width: 00%;
    background-color: #D51C22;
    transition: .3s ease-out;
}

.dropdown-items ul li:hover::after{
    width: 100%;
}

.dropdown-items ul li a{
    color: gray;
    font-weight: 500;
}
/* dropdown feature Ends */


/* nav-extra side starts */

    /* USER STARTS */
    #user{
        position: relative;
    }

    #user .user-img img{
        width: 2.5rem;
        height: 2.5rem;
    }

    #user:hover .user-opt{
        display: block;
        height: auto;
    }

    #user .user-opt{
        display: none;
        position: absolute;
        background-color: white;
        box-shadow: 0 4px 1rem rgba(0, 0, 0, 0.3);
        left: 0%;
        top: 100%;
        border-radius: .2rem;
        overflow: hidden;
        height: 2rem;
    }

    .user-opt ul{
        display: flex;
        flex-direction: column;
        padding: 0 2rem;
    }

    .user-opt ul li{
        padding: 1rem 0;
    }

    .user-opt a{
        color: #6c757d;
        text-decoration-color: #D51C22;
    }
    /* USER ENDS */

.search-group{
    border: .1rem solid rgba(0, 0, 0, 0.281);
    padding: 0rem 2rem;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;    
}

.search-input{
    border: none;
    background-color: transparent;
}

.search-btn{
    border: none;
    background-color: transparent;    
}

.search-btn:focus{    
    outline: none;
}

/* LOGIN FORM STARS */
.user{
    border: none;
    background-color: transparent;
}

.user:focus{
    outline: none;
}

.login{
    background-color: white;
    text-align: center;
    box-shadow: .0rem .0rem 1.0rem rgba(114, 112, 112, 0.493);
    width: 25rem;  
    overflow: hidden;  
    border-radius: .5rem;
}

.login-title{
    background-color: rgba(209, 204, 204, 0.514);
    padding: 1rem;
}

.login-form input{
    margin-top: 1rem ;
    width: 90%;
    border-color: rgba(211, 211, 211, 0.356);
}

.login-submit{
    font-size: large;
    font-weight: 500;
    color: white;
    background-color: black;
    border-radius: .3rem;
}
/* LOGIN FORM ENDS */

.modal-box{ 
    display: none;
    justify-content: center;
    align-items: center;   
    background-color: rgba(99, 98, 98, 0.13);
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    -webkit-backdrop-filter: blur(.5rem);
            backdrop-filter: blur(.5rem);
    z-index: 9999;
}

.cart,
.wishlist{
    position: relative;
}

.cart-number,
.wishlist-number{
    color: white;
    position: absolute;
    top: -1.5rem;
    right: -1rem;
    background: #D51C22;
    height: 1.8rem;
    width: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 1.2rem;
    border: 1px solid white;
}



.nav-extra ul li i{
    transition: .3s;
}

.nav-extra ul li i:hover{
    color: #D51C22;
}
/* nav-extra side Ends */

/* ================================== */
            /*  LAND PAGE */
/* ================================== */
.land-item{
    position: relative;
    height: 90vh;
    width: 100vw;
}

.land-bg{
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    z-index: 1;    
}



.land-bg-overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0,.4);
    z-index: 1;
}

.land-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    z-index: 15;
    color: white;
    width: auto;
}

.land-welcome{
    background-color: #D51C22;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
    padding: 0rem 5rem;
    font-weight: 600;
    word-spacing: .5rem;
    letter-spacing: .1rem;
    margin-bottom: 1rem;
    font-size: 1.8rem;
}

.land-title h1{
    font-family: 'Alfa Slab One', cursive;
    font-size: 5rem;
}

.land-info{
    display: block;
    margin-bottom: 3rem;
}

.land-btn{
    text-decoration: none;
    color:  white;
    background-color:#D51C22;
    font-weight: bold;
    padding: 1.2rem 2.5rem;
    border-radius: .4rem;
    transition: .5s;
}

.land-btn:hover{
    text-decoration: none;
    color: #D51C22;    
    background-color:white;    
}







/* ================================== */
            /*  ALL CATAROGIES */
/* ================================== */
#catagories{
    margin: 5rem 0;
}

#catagories .item{
    display: flex;
    justify-content: center;
    align-items: center;
}

#catagories .catagory{
    height: auto;
    width: 20rem;    
    padding: 1rem;  
    border: 1px solid #d51c2200;
    overflow: hidden;     
}

#catagories .catagory:hover{
    border: 1px dotted #d51c2262;
}

.catagory-img-div{
    width: 100%;
    height: 13rem;
    overflow: hidden;    
}

.catagory-img{
    width: 100%;
    height: 100%;
    transition:  .5s ease-out;  
    object-fit: cover;
}

#catagories .catagory:hover .catagory-img{
    transform: scale(1.1);    
}

.catagory-name{
    text-align: center;
}

.catagory-name a{
    text-decoration: none;
    color: initial;
}








/* ======================================= */
            /*  FEATURE SECTION DESIGN  */
/* ======================================= */

#feature{
    padding: 2rem 0;
    margin-bottom: 10rem;
}

#feature .item{
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-box{
    border: 1px solid transparent;
    display:flex;
    justify-content: flex-start;
    
}

.feature-box .feature-icon{
    color: #D51C22;
    font-size: 3rem;
}

.feature-box .feature-info p, 
.feature-box .feature-info h5{ 
    margin: 0;
    padding: 0;
    margin-bottom: .2rem;
}

.feature-info{
    padding-left: 1.5rem;
}

.feature-info p{
    font-size: 1.2rem;
    color: #6c757d;
}

.feature-info h5{
    text-transform: capitalize;    
}








/* ======================================= */
            /*  DEAL FOR TODAY   */
/* ======================================= */
#deal-recommend{
    overflow: hidden;
    width: 100vw;
}

#deal-today{
    border: 1px solid #D51C22;
    padding: 1rem 2rem;
    border-radius: .5rem;
}

.deal-info{
    margin-top: 1rem;
}

.deal-info p{
    margin: 0;
    padding: 0;    
}

.deal-catagory{
    font-size: 1.3rem;
}

.deal-item-name{
    font-weight: bold;
    font-size: 1.4rem;
}

.deal-item{
    text-align: center;
}

.expired-deal{
    margin-top: 4rem;
}

#deal-today .count-down{
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
}

#deal-today .cd{
    background-color: #ECEDE7;
    margin: .5rem;
    padding: .5rem 1rem;
    border-radius: 1rem;    
}

#deal-today .cd span{    
    font-weight: bold;
}

#deal-today .owl-nav .owl-prev,
#deal-today .owl-nav .owl-next{
    width: 3rem;
    height: 2.5rem;
    top: -4.6rem;
}

#deal-today .owl-nav .owl-prev{
    left: 80%;
}
#deal-today .owl-nav .owl-next{      
    right: -27px;
}


#recommend-item-section .item{
    display: flex;
    justify-content: center;
    align-items: center;
}

#recommend-item-section .food-item{
    margin-bottom: 1rem;
}

#recommend-item-section .item-img{
    height:13rem ;
}


/* ============================================= */
        /*   TRENDING ITEMS SECTION */
/* ============================================= */
#trend-items{
    margin: 5rem 0;
}





/* ============================================= */
        /*   Explore More  SECTION */
/* ============================================= */
#know-more .row{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.know-left{
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.know-info h1{
    font-size: 4rem;
    margin-bottom: 2rem;
}

.know-info p{
    color: #6c757d;
}

.know-bottom{
    margin:4rem 0 ;
}

.know-bottom .def-btn{
    padding: 1rem 5rem;
    font-size: 1.6rem;
}

.know-phone{
    padding: 1rem 5rem;
    font-size: 2rem;
    color: black;
    font-weight: bold;
}

.know-phone:hover{
   text-decoration: none;
    color: black;
}

.know-phone i{
    color: #D51C22;
    padding: 1rem;
    font-size: 2.5rem;
}

.know-img{
    height: 80vh;
    width: 70vh;
    border-radius: 1rem;
}






/* ============================================= */
        /*  Article  SECTION */
/* ============================================= */
#our-article{
    margin: 6rem 0;
}

#our-article .item{
    padding: 2rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


#our-article .title{
    margin: 4rem auto;
}

.article{
    max-width: 40rem;
    background-color: #E9ECEF;
    position: relative;
    border-radius: 1rem;
}

.article-img{
    height: 25rem;
    width: 100%;
}

.article-shorts{
    font-size: 1.1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 15%;
    margin-bottom: 2rem;
}

.article-shorts i{
    color: #D51C22;
}

.article-body{
    text-align: center;
    padding: 1rem 1rem;
    padding-bottom: 4rem;
}


.article-more{
    color: #D51C22;
    position: absolute;
    bottom: -1.5rem;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #D51C22;
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: white;
    transition: background-color .5s; 
}

.article-more:hover{
    color: white;
    text-decoration: none;
    border-color: white;
    background-color: #D51C22;
}










/* ============================================= */
        /*  News Letter  SECTION */
/* ============================================= */

#news-letter [class*="col-"]{
    margin-bottom: 2rem;
}


#news-letter .row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#news-letter .nl-text i{
    font-size: 4.5rem;
    padding-right: 3rem;
    padding-left: 1rem;
    color: #D51C22;
}

#news-letter .nl-text p{
    color: #6c757d;
}

#news-letter input[type=email]{
    border: 1px solid rgb(213, 28, 34,.2);
    border-top-left-radius: .5rem;
    border-end-start-radius: .5rem;
    width: 60%;
    border-right: none;
}

#news-letter input[type=submit]{
    border: 1px solid rgb(213, 28, 34);
    background-color: #D51C22;
    color: white;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
    border-left: none;
    transition: .5s;
}
#news-letter input[type=submit]:hover{
    border: 1px solid rgb(213, 28, 34,.2);
    background-color: white;
    color: #D51C22;
    border-left: none;
}

.nl-links i{
    color: black;
    padding: .6rem;
    transition: .5s;
    font-size: 1.5rem;
}

.nl-links i:hover{
    color: #D51C22;
}







/* ================================= */
            /*  FOOTER */
/* ================================= */
#footer{
    background-color:red;
    width: 100%;
    overflow: hidden;
}

.footer-body{
    background-color: rgb(20, 20, 20);
    bottom: 0;
}

#footer h1{
    color: white;
    margin-bottom:2rem ;
    text-transform: uppercase;
}

#footer p{
    color:  white;
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: .5rem;
}

#footer a{
    color: #c9c9c9;
}

#footer a:hover{
    color:  #D51C22;
}

#footer .footer-end{
    background-color: rgb(44, 44, 44);
    color: rgb(168, 168, 168);
    font-size: 1.2rem;
}

#footer .social-links a{
    font-size: 1.6rem;
    padding: 1rem;
}

#footer .social-links i:hover{
    color: #D51C22;
}

footer hr{
    background-color: white;
    opacity: .5;
    margin: 0;
}








/* ================================= */
            /*  item PAGE */
/* ================================= */
#product-page{
    min-height: 50vh;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#product-page .product-top{
    background-color: white;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#product-page .product-deliver-info{
    background-color: #eef3ff;
}

#product-page .product-page-food-img{
    height: 30rem;
    width: 40rem;
    padding: 2rem;
    object-fit: cover;
}

#product-page .rating{
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 1.3rem;
    padding: 0;
    margin: 0;
}

#product-page .rate-fdback{
    display: flex;
    align-items: center;    
}

#product-page .price{
    margin: 0;
    flex-direction: column;
}

#product-page .c-price{
    font-size: 2.5rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

#product-page .product-name{
    font-size: 2.3rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

/* Quantity section stats from here */
.quantity{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
}

.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.quantity input[type=number]{
    width: 30%;
    text-align: center; 
    margin: 0 0rem; 
    border: none;
    padding: 0;
}

.quantity i{
    padding: 1rem;
    cursor: pointer;
}
/* Quantity section Ends */
.cart-buy{
    margin-top: 1rem;
}

.buy-btn,
.add-cart-btn{
    border: 1px solid transparent;
    padding: .5rem 4rem;
    border-radius: .5rem;
    color: white;
    transition: background-color 1s ;
}

.buy-btn{
    background-color: rgb(65, 65, 65);
}

.buy-btn:hover{
    background-color: #D51C22;
}

.add-cart-btn{
    background-color: #D51C22;
}

.add-cart-btn:hover{
    background-color: rgb(65, 65, 65);
}



/* PRODUCT BOTTOM starts */
.product-bottom{
    background-color: white;
    margin-top: 2rem;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#div-toggle ul{
    display: flex;
    justify-content: flex-start;
    margin: 0;
}

.toggle-btn{
    font-weight: bolder;
}

.toggle-btn:hover{
    text-decoration: none;
}


#div-toggle .nav-item{
    position: relative;
    margin: 0 1rem;
    overflow: hidden;
}

#div-toggle .nav-item::after{
    content: "";
    height: 20px;
    width: 100%;
    position: absolute;
    left: 0;
    top: -1.6rem;
    border-radius: .5rem;
}

#div-toggle .nav-item a{
    cursor: pointer;
    color: #6c757d;
}

#div-toggle .nav-item a:hover{
    color: rgb(0, 0, 0);
}

#div-toggle .nav-item:nth-child(1) a.active{
    color: rgb(110, 180, 247);
}

#div-toggle .nav-item:nth-child(2) a.active{
    color: rgba(31, 173, 31, 0.527) ;
}

#div-toggle .nav-item:nth-child(1)::after{
    background: rgb(110, 180, 247);
}

#div-toggle .nav-item:nth-child(2)::after{
    background: rgba(31, 173, 31, 0.527) ;
}

#item-f-info{
    border-left: .1rem solid rgb(110, 180, 247);
    padding: 1rem;
}

#item-fdback{
    border-left: .1rem solid rgba(31, 173, 31, 0.527);
    padding: 1rem;
}

#item-f-info p{
    margin: 0;
}

/* feedback section starts */
.fd-img{
    height: 8rem;
    width: 8rem !important;
    border: 1px solid transparent;
    border-radius: 50%;
}

.fd-top{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.fd-user-info{
    margin-left: 2rem;
}

.fd-user-name{
    font-size: 1.8rem;
    font-weight: bold;
}

.fd-rate-date{
    font-size: 1.1rem;
}

.fd-time{
    margin-left: 1rem;
}

/* feedback section Ends */

/* write feedback sextion */
.wrt_fdb_btn{
    text-decoration: none;
    color: #33C24D;
    border: 2px solid #33C24D;
    padding: 1rem 2rem ;
    display: block;
    width: fit-content;
    margin-top: 1rem;
    font-weight: bold;
    border-radius: .5rem;
    transition: .5s;
}

.wrt_fdb_btn:hover,.wrt_fdb_btn:focus{
    text-decoration: none;
    color: white;
    border-color: #0280f5;
    background-color: #0280f5;
}

#wrt_fdb{
    border: 2px solid rgba(196, 196, 196, 0.815);
    padding: 2rem;
    margin-top: 2rem;
}

#wrt_fdb .fdb_text{
    width: 100%;
    background-color: transparent ;
    border: none;
    resize: none;
}

.fdb_text::placeholder{
    color: rgb(173, 173, 173);
    font-size: 1.8rem;
}



/* input feedback */
#wrt_fdb .rating {
    display: inline-block;
    position: relative;
    height: 4rem;
    line-height: 4rem;
    font-size: 3rem;
}
  
#wrt_fdb .rating label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    cursor: pointer;
}
  
  #wrt_fdb .rating label:last-child {
    position: static;
  }
  
  #wrt_fdb .rating label:nth-child(1) {
    z-index: 5;
  }
  
  #wrt_fdb .rating label:nth-child(2) {
    z-index: 4;
  }
  
  #wrt_fdb .rating label:nth-child(3) {
    z-index: 3;
  }
  
  #wrt_fdb .rating label:nth-child(4) {
    z-index: 2;
  }
  
  #wrt_fdb .rating label:nth-child(5) {
    z-index: 1;
  }
  
  #wrt_fdb .rating label input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
  
  #wrt_fdb .rating label .icon {
    float: left;
    color: transparent;
  }
  
  #wrt_fdb .rating label:last-child .icon {
    color: #000;
  }
  
  #wrt_fdb .rating:not(:hover) label input:checked ~ .icon,
  #wrt_fdb .rating:hover label:hover input ~ .icon {
    color: #feb42b;
  }
  
  #wrt_fdb .rating label input:focus:not(:checked) ~ .icon:last-child {
    color: #000;
    text-shadow: 0 0 5px #feb42b ;
  }
/* input feedback ends */


/* write feedback sextion ends */


/* PRODUCT BOTTOM Ends */





/* *=*=*=*=*=**=*=*=**=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=* */

                /* ARTICLE PAGE */
/* =========================================== */

.banner-text{
    text-transform: uppercase;
    color: rgb(233, 233, 233);
    font-family: 'Alfa Slab One', cursive;
    font-weight: 100;
    letter-spacing: .2rem;
    font-size: 5rem;
    z-index: 1;
}



.page-banner{
    background: initial;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 30vh;
    background-attachment:  fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.page-banner::after{
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.article-banner{
    background-image: url('../img/article-bg.jpg');
}

#all-articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0%;
}

#all-articles .article{
    margin: 3rem 1rem;
    max-width: 35rem;
}

#all-articles .article-img{
    height: 23rem;
}


.article-modal{
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
    justify-content: center;
    align-items: center;
}

.full-article{
    background-color: rgb(43, 43, 43);
    color: white;
    width: 90%;
    height: 90%;
    padding:  4rem;
    font-family: 'Lato', sans-serif; 
    border-radius: 1rem;
    overflow: auto;
    margin-top: 5rem;
}

.article-exit{
    position: absolute;
    top: 3%;
    right: 5%;
}


.about-banner{
    background-image: url("../img/about-bg.jpg");
}







/* *=*=*=*=*=**=*=*=**=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=* */

                /* CONTACT PAGE */
/* =========================================== */
#contact-cards>.container-fluid{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10rem;
}

.contact-banner{
    background-image: url("../img/contact-bg.jpg");
    background-position:center bottom ;
}

.contact-card{
    box-shadow: 0px 0px 3rem rgb(207, 207, 207);
    padding: 2rem 2rem;
    text-align: center;
    width: 27rem;
    margin: 2rem;
    border-radius: 1rem;
}

.contact-icon{
    font-size: 3rem;
    margin-bottom: 1rem;
}

.contact-card h2{
    color: #282e2a;
}

.contact-card p,
.contact-card a{
    color: #A09FA7;
    font-size: 1.3rem;
}


#contact-form .container-fluid{
    text-align: center;
    margin: 8rem 0;
}

.contact-form{
    border: 1px solid rgb(230, 230, 230);
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 0 auto;
    padding: 5rem 3rem;
    border-radius: 1rem;
}


#contact-form input,#contact-form textarea{
    margin: 1rem;
    padding: 1rem 0;
    border: none;
    border-bottom: 1px solid rgb(211, 211, 211);
    transition: border-bottom .5s 1s, box-shadow .5s;
}

textarea{
    outline: none;
}

#contact-form ::-webkit-input-placeholder{
    color: rgba(114, 108, 108, 0.753);
}

#contact-form ::-moz-placeholder{
    color: rgba(114, 108, 108, 0.753);
}

#contact-form :-ms-input-placeholder{
    color: rgba(114, 108, 108, 0.753);
}

#contact-form ::-ms-input-placeholder{
    color: rgba(114, 108, 108, 0.753);
}

#contact-form ::placeholder{
    color: rgba(114, 108, 108, 0.753);
}

#contact-form input:focus,#contact-form textarea:focus{
    border-bottom:2px solid royalblue;
    box-shadow: 0px 10px 1rem rgb(65, 105, 225,.1);
}

#contact-form input[type="submit"]{
    border: none;
    font-size: 2rem;    
    border-radius: 2rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.767);
    transition: all .5s;
}

#contact-form input[type="submit"]:hover{
    color: black;
    background-color: rgb(241, 240, 240);
}

#contact-map iframe{
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
    transition: .5s;
}

#contact-map iframe:hover{
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
}









/* *=*=*=*=*=**=*=*=**=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=* */

                /* CART PAGE */
/* =========================================== */
#cart-page{
    min-height: 50vh;
    background-color: #F1F2F4;
}

#cart-page .cart-info-head,
#cart-page .cart-items,
#chkout-sum{
    background-color: white;
    padding: 2rem;
    box-shadow: 0px 0px 1rem rgb(235, 235, 235);
    border-radius: .5rem;
    border: 1px solid rgb(223, 223, 223);
}

.cart-info-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-info-head h2{
    font-weight: 500;
    font-size: 2.2rem;
}

.cart-info-head strong{
    color: #33C24D;
    word-spacing: .1rem;
    letter-spacing: .1rem;
}

.cart-img img{
    height: 10rem;
    width: 14rem;
}

.cart-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
    border-bottom: 1px solid rgb(221, 221, 221);
}

.cart-left{
    display: flex;
    align-items: center;
}

.cart-item .price{
    margin: 0;
    padding: 0;
    align-items: center;
}

.cart-item .item-catagory{
    font-size: 1.5rem;
    opacity: .8;
}

.cart-item-qty{
    margin: 0;
    padding: 0;
    width: 12rem;
    text-align: center;
    border: 1px solid rgb(228, 228, 228);
}

@media (max-width: 991px) {
    .cart-item-qty .quantity{
        flex-direction: column;
    }
    .cart-item-qty{
        width: 4rem;
    }
}

.cart-item-qty .quantity{
    width: fit-content;
}

.remove-item-btn{
    font-size: 2.5rem;
}

.cart-item-info{
    padding-left: 3rem;
}

#chkout-sum{
    background-color: white;
    padding: 2rem;
}

.chkout-sum-row{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(221, 221, 221);
    padding: 1rem 0;
}

.chkout-sum-lbl{
    color: gray;
}

.chkout-total-row{
    display: flex;
    justify-content: space-between;
}
